workflow-chatbot.json
{
  "name": "WhatsApp ChatBot",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69f53391-8a3d-4f49-a6b8-ea99b7adb331",
              "name": "idConversa",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "49c26751-56ed-4b86-a843-e8376fbfb003",
              "name": "messageChat",
              "value": "={{ $json.body.text.message }}",
              "type": "string"
            },
            {
              "id": "5683eb7f-8936-47d7-86bc-4059bc287aee",
              "name": "name",
              "value": "={{ $json.body.senderName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        -40
      ],
      "id": "b953c451-6f00-40db-bfcc-4c7cfede1252",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19SNjIT3gs018zY1hK_V6T4KNz01KjeF65m82fZ8BAHE",
          "mode": "list",
          "cachedResultName": "WhatsApp Bot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19SNjIT3gs018zY1hK_V6T4KNz01KjeF65m82fZ8BAHE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19SNjIT3gs018zY1hK_V6T4KNz01KjeF65m82fZ8BAHE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome": "={{ $json.name }}",
            "WhatsApp": "={{ $json.idConversa }}"
          },
          "matchingColumns": [
            "WhatsApp"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "WhatsApp",
              "displayName": "WhatsApp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        820,
        -40
      ],
      "id": "db6d1317-d78c-40b8-86d1-b8a410ebe460",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DEyk8XMn8AwwpPf2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.messageChat }}",
        "options": {
          "systemMessage": "Você é um agente de suporte. Seja educado, engraçado e utilize emojis nas respostas para deixar a conversa mais humanizada."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1020,
        -40
      ],
      "id": "acce4401-4407-4657-8b63-bc911a7074c0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        920,
        200
      ],
      "id": "aa580434-0ba8-4209-9eb2-8bbae885165a",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "5yMZPbA92HC8EUaH",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.idConversa }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1060,
        200
      ],
      "id": "40d08ca7-af43-4613-8745-64b871ab78d7",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1200,
        200
      ],
      "id": "1fd013ff-8407-4e71-8ab1-e309a34c34b8",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        1320,
        200
      ],
      "id": "a1268764-bbdd-4df6-9646-66aa11b0df1f",
      "name": "Wikipedia"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1660,
        -40
      ],
      "id": "545bf1de-81e0-48c2-8090-7207fc1ef472",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receber-mensagem-zapi",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        80,
        -40
      ],
      "id": "cfeb5721-da16-404b-81ec-6d415ad25b2c",
      "name": "Webhook",
      "webhookId": "d9134616-e7e2-4b4d-b5e5-bc35fb69be18"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "71649dbf-f225-4a21-afd8-3dbe81553186",
              "leftValue": "={{ $json.body.isGroup }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "82749a8d-27a5-4f1f-8bcb-45072c12b8d5",
              "leftValue": "={{ $json.body.isNewsletter }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "5b11fba6-6800-4604-8198-a55fb7444c3e",
              "leftValue": "={{ $json.body.broadcast }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "b918a0d3-614d-4fa9-bc94-ee695f818e95",
              "leftValue": "={{ $json.body.fromApi }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        -40
      ],
      "id": "1fa2a928-6757-437d-9cf2-89df5c88ba88",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        620,
        200
      ],
      "id": "7b6e955b-e21e-4119-b64e-55525289c2f6",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1C79697E5C10B6F710EED2F8E2666C/token/FCF485A6793E8984F3220437/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F235c8e8b0e8e42838fd7459fb7716a06S"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Edit Fields').item.json.idConversa }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        -40
      ],
      "id": "e64c2d23-8887-46a5-9cb5-177732170e08",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f3306cbd-0032-4ca7-8fd9-4f2e3edf2bce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8696c1f83858b39fb80df34d5b31cb7e7ad3a2afbf789cd31f8bc9561d85e5f9"
  },
  "id": "wUKRfIoboPkvf9kB",
  "tags": []
}